.formContainer{
    width:100%;
    justify-content:center;
    align-items:center;
    margin-top:20px;
    align-content:center;
    display:flex;
}
.formController {
    width: 300px;
    align-items: center;
    justify-content: center;
    
}
.btnContactContainer {
    display: flex;
    align-items: center;
    justify-content:center;
       
}
.btnContact {
    width: 130px;
    height: 45px;
    background-color: #d90429;
    color: #fff;
    font-size: 18px;
    font-family: 'Kameron', serif;
    border-radius: 7px;
}

.btnContact:hover {
    background-color: #495057;
    color: #fff;
}