@model List<RentAndDrive.Models.Category>

@{
    ViewData["Title"] = "Kategoriler";
    Layout = "~/Views/Shared/_AdminPanelLayout.cshtml";
}

<table class="table table-bordered mt-2">
    <tr>
        <th>Id</th>
        <th>Kategori Adı</th>
        <th>Statü</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>
    @foreach (var x in Model)
    {
        <tr>
            <td>@x.CategoryId</td>
            <td>@x.CategoryName</td>
            <td>@x.Status</td>
            <td><a href="/CategoryAdminPanel/CategoryDelete/@x.CategoryId" class="btn btn-danger">Sil</a></td>
            <td><a href="/CategoryAdminPanel/CategoryGet/@x.CategoryId" class="btn btn-success">Güncelle</a></td>
        </tr>
    }

</table>
<a href="/CategoryAdminPanel/CategoryAdd" class="btn btn-primary">Yeni Kategori Ekle</a>

