
@{
    ViewData["Title"] = "Anasayfa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="mainContainer">
    <div class="sloganContainer">
        <h2 class="slogan">Aradığın Bütün Araçlar Burada</h2>

        <h2 class="slogan">Gidebildiğin Yere Kadar Git</h2>
        <div class="btnContainerA">
            <button class="btnA" onclick="window.location.href='/Car/Index'">Aracını Bul</button>
        </div>
    </div>
    <div class="imageContainer">
        <img class="image" src="~/resimler/pexels-markus-spiske-226460.jpg" />
    </div>
</div>
