@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer localizer
@{
    ViewData["Title"] = "Anasayfa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="mainContainer">
    <div class="sloganContainer">
        <h2 class="slogan">@localizer["slogan1"]</h2>

        <h2 class="slogan">@localizer["slogan2"]</h2>
        <div class="btnContainerA">
            <button class="btnA" onclick="window.location.href='/Car/Index'">@localizer["Button"]</button>
        </div>
    </div>
    <div class="imageContainer">
        <img class="image" src="~/resimler/pexels-markus-spiske-226460.jpg" />
    </div>
</div>
