
@{
    ViewData["Title"] = "Anasayfa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="mainContainer">
    <div class="sloganContainer">
        <h2 class="slogan">Gidebildiğin Yere Kadar Git</h2>
    </div>
    <div class="imageContainer">
        <img class="image" src="~/resimler/pexels-markus-spiske-226460.jpg" />
    </div>
    <div class="rentDateContainer">
        <div>
            <p class="rentText">Araba Kirala</p>
        </div>
        <div class="alişTarih">
            <p class="text">Alış Tarihi:</p>
            <input type="date" class="textDate" value="2021-12-18" min="2021-01-01" max="2023-01-01" />
        </div>
        <div class="teslimTarih">
            <p class="text">Teslim Tarihi:</p>
            <input type="date" class="textDate" value="2021-12-20" min="2021-01-01" max="2023-01-01" />
        </div>
        <div class="btnContainer">
            <button class="btn">Araç Kirala</button>
        </div>
       
    </div>
    
</div>
