@{
    Layout = null;
}
@*<div class="dropdown">
    <button class="dropbtn">Dropdown</button>
    <div class="dropdown-content">
        <a href="#">Giriş Yap</a>
        <a href="#">K</a>

    </div>
</div>*@
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/css/layout.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kameron:wght@400;700&display=swap" rel="stylesheet">
    <link href="~/css/cars.css" rel="stylesheet" />
    <link href="~/css/contact.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
</head>
<body>
     <!--Header-->
    <div class="headerContainer">
        <div class="navbara">
            <div class="brand">
                <a href="/Home/Index/" class="brandName">Kirala <span class="middleBrand">Ve</span> Sür</a>
            </div>
            <div class="menuContainer">
                <a class="menuText" href="/Home/Index/">Anasayfa</a>

                <a href="/Car/Index/" class="menuText">Araçlar</a>

                <a class="menuText" href="/Contact/Index/">İletişim</a>
            </div>
            @if (!User.Identity.IsAuthenticated)
            {
            <div class="loginContainer">
                <a class="loginText" href="/User/Login/">Giriş Yap</a>
                <a class="loginText" href="/User/Register/">Kayıt Ol</a>
                

            </div>
            }
            else
            {

            <div class="loginContainer">
                <span>@TempData["Names"]</span>
                <a class="loginText" href="/User/Logout/">Çıkış Yap</a>

            </div>
            }



        </div>
    </div>
     <!--Header-->
    
    @RenderBody()
</body>
</html>
