@model RentAndDrive.Models.User
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="formContainer">
    <div class="formController">
        <form class="form-group" action="Index" asp-controller="User" method="post" enctype="multipart/form-data">

            <label>Email</label>
            @Html.TextBoxFor(x => x.Email, new { @class = "form-control", type = "email", placeholder = "ornekemail@mail.com" })
            <br />
            <label>Şifre</label>
            @Html.TextBoxFor(x => x.Password, new { @class = "form-control", type = "password" })
            <br />
            @ViewBag.mesaj
            <br />
            <div class="btnContactContainer">
                <button class="btnContact">Giriş Yap</button>
            </div>
        </form>
    </div>
</div>